.image-container {
    display: flex;
    width: 100%;
    aspect-ratio: 1;
    position: relative;
}

.head {
    width: 17%;
    height: 19%;
    left: 22%;
    top: 11%;
}

.eye {
    width: 3%;
    height: 4%;
    left: 24%;
    top: 17%;
}

.hair {
    width: 19%;
    height: 6%;
    left: 22%;
    top: 5%;
}

.neck {
    width: 7%;
    height: 4%;
    left: 27%;
    top: 30%;
}

.shoulder {
    width: 33%;
    height: 27%;
    left: 59%;
    top: 64%;
}

.arm {
    width: 6%;
    height: 23%;
    left: 17%;
    top: 38%;
}

.elbow {
    width: 33%;
    height: 27%;
    left: 59%;
    top: 64%;
}

.hand {
    width: 6%;
    height: 7%;
    left: 17%;
    top: 61%;
}

.finger {
    width: 33%;
    height: 27%;
    left: 59%;
    top: 64%;
}

.thumb {
    width: 33%;
    height: 27%;
    left: 59%;
    top: 64%;
}

.wrist {
    width: 33%;
    height: 27%;
    left: 59%;
    top: 64%;
}

.chest {
    width: 19%;
    height: 10%;
    left: 21%;
    top: 34%;
}

.stomach {
    width: 15%;
    height: 15%;
    left: 23%;
    top: 44%;
}

.back {
    width: 19%;
    height: 10%;
    left: 60%;
    top: 43%;
}

.hip {
    width: 14%;
    height: 5%;
    left: 24%;
    top: 61%;
}

.leg {
    width: 6%;
    height: 27%;
    left: 23%;
    top: 66%;
}

.foot {
    width: 6%;
    height: 27%;
    left: 23%;
    top: 66%;
}
