.image-container {
    display: flex;
    width: 100%;
    aspect-ratio: 4 / 2;
    position: relative;
}

.burnt {
    width: 15%;
    height: 11%;
    left: 5%;
    top: 5%;
}

.creamy {
    width: 13%;
    height: 11%;
    left: 20%;
    top: 5%;
}

.dry {
    width: 13%;
    height: 11%;
    left: 33%;
    top: 5%;
}

.flavoursome {
    width: 13%;
    height: 11%;
    left: 46%;
    top: 5%;
}
